@import "common";

:global{	
	.page, body {
	  background-color: $body-bgcolor;
	}

	.weui_btn_primary{
		background-color:$blue-bgcolor;
	}

	.weui_btn_primary:not(.weui_btn_disabled):active{
		background-color:darken($blue-bgcolor, 10);
	}

	.green{
		color:$green-font;
	}

	.flex-container{
		@include flex-container;
	}

	@for $i from 1 through 3{
		.flex-item-#{$i}{
			@include flex-item($i)
		}
	}

	.flex-align-top{
		@include align-items(flex-start);
		@include box-align(start);
	}

}