@import "common";

.ctn{
	height:60px;
	position: fixed;
	bottom:0;
	width:100%;
	border-top:1px solid $grey-bgcolor-active;
	text-align: center;
	vertical-align: bottom;
	background-color: $grey-bgcolor;
}

.fix{
	height: 60px;
}

.item{
    padding-top: 10px;
	font-size:30px;
	>p{
		font-size: 14px;
    	line-height: 1.5;
	}
}

.active{
	color:$blue-font;
}